@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'SF Pro Display', sans-serif !important;
  letter-spacing: .5px;
}

:root {
  --base-color: #20CC46;
  --black-color: #373737;
}

body {
  height: 100vh;
}

header {
  z-index: 90;
  border-top: 5px solid var(--base-color);
}

.title {
  font-size: 30px;
  color: var(--base-color);
}

.logoWrapper img {
  width: 50px;
}

nav ul li a {
  text-decoration: none;
  color: var(--black-color) !important;
}

.btn,
.btn:hover {
  background: var(--base-color);
  background: var(--base-color);
}

.humbergerWrapper {
  width: 28px;
  height: 19px;
  position: absolute;
  top: 40px;
  left: 320px;
}

.humbergerLine {
  width: 28px;
  height: 2.5px;
  background: var(--base-color);
  border: 1px solid light;
  border-radius: 100px;
  transition: 1s;
}

.humbergerLine::before,
.humbergerLine::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2.5px;
  background: var(--base-color);
  border: 1px solid light;
  border-radius: 100px;
  transition: 1s;
}

.humbergerLine::before {
  content: "";
  transform: translateY(-8px);
}

.humbergerLine::after {
  content: "";
  transform: translateY(8px);
}

main article {
  padding: 120px 50px !important;
  width: 900px !important;
}

hr {
  border: 3px solid black;
}

main article img {
  width: 90% !important;
}

@media (max-width: 992px) {
  header {
    z-index: 90;
    position: absolute;
    width: 270px !important;
    height: 100vh;
    left: -300px;
    transition: 1s;
  }

  .humbergerWrapper {
    z-index: 90px;
    top: 45px;
  }

  .humbergerLine,
  .humbergerLine::after,
  .humbergerLine::before {
    background: rgb(0, 0, 0) !important;
  }

  header.sidebarOn {
    left: 0;
    transition: 1s;
  }

  header.sidebarOn .humbergerWrapper {
    z-index: 90px;
    top: 45px;
  }

  header.sidebarOn .humbergerLine {
    background: transparent !important;
  }

  header.sidebarOn .humbergerLine::after,
  header.sidebarOn .humbergerLine::before {
    background: var(--base-color) !important;
  }

  header.sidebarOn .humbergerWrapper {
    left: 220px;
  }

  header.sidebarOn .humbergerLine {
    background: transparent;
    transition: 1s;
  }

  header.sidebarOn .humbergerLine::before {
    transform: rotate(45deg);
    transition: 1s;
  }

  header.sidebarOn .humbergerLine::after {
    transform: rotate(-45deg);
    transition: 1s;
  }

  .logOutWrapper {
    position: fixed !important;
    z-index: 80 !important;
    bottom: 10px !important;
  }

  header nav ul li:nth-child(2) {
    margin: 20px 0 !important;
  }

  nav ul {
    color: white !important;
  }

  nav ul li {
    width: 120px;
    color: var(--base-color);
    padding: 5px 10px 5px 10px !important;
  }

  nav ul li .icon {
    color: var(--black-color) !important;
  }

  main article {
    padding: 34px 20px 20px 55px !important;
    width: 100% !important;
  }
}

@media (max-width: 576px) {
  header section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px !important;
  }

  header nav {
    margin-top: 20px !important;
    margin-left: 30px !important;
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  header nav ul li:nth-child(3) a {
    width: 104px;
  }

  header nav ul li a {
    margin-left: 10px !important;
  }

  header section>div:nth-child(3) a {
    display: none;
  }

  main article h2 {
    font-size: 23px !important;
  }

  main article p {
    font-size: 14px !important;
  }

  main article h4 {
    font-size: 18px !important;
  }
}